@model PersonelCreateMV

<form asp-action="Index" asp-controller="Personel" method="post">
    <input type="text" asp-for="Adi"/><br />
    <input type="text" asp-for="Soyadi"/><br />
    <button>Gönder</button>
</form>