@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<a asp-action="TakeData" asp-controller="Product" asp-route-a="a parametresi" asp-route-b="b parametresi" asp-route-id="id parametresi" asp-route-x="route'da tanımsız parametre query string olarak yerleştirilir">Bu linke tıklandığında ilgili parametreler girilerek url olarak gönderilir</a>