@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<a asp-action = "Index" asp-controller="Home" asp-area="fatura">Fatura</a>
@* bu şekilde area adını belirterek diğer arealara link verebiliyoruz 
    veri taşıma için de --> yonetim_paneli controllerına git
*@