
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/s%C3%BCleyman-aslan-763504217/">
            Linkedin
          </a>
        </li>
        <li>
          <a href="https://github.com/SAslan8006">
            GitHup
          </a>
        </li>
        <li>
          <a href="https://discord.com/channels/S%C3%BCleyman#9501">
            Discord
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, Designed by
      <a href="https://www.linkedin.com/in/s%C3%BCleyman-aslan-763504217/" target="_blank">Suleyman</a>. Coded by
      <a href="https://www.linkedin.com/in/s%C3%BCleyman-aslan-763504217/" target="_blank">Soluman Tim</a>.
    </div>
  </div>
</footer>
